body {
    padding-top: 30px;
    padding-bottom: 20px;
    background: url("bg.jpg") fixed center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
form{
    position: relative;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(238, 238, 238, 0.6);
    border-radius: 10px;
}

input[name="binary"]{
    width: 280px;
}